[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]
pytest = "*"
selenium = "*"
webdriver-manager = "*"

[requires]
python_version = "3.8"
